<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsudetsun.voichime">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:exported="true">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".StopServiceReceiver" />

        <service
            android:name=".TimeSignalService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity android:name=".CreditActivity" />
    </application>
</manifest>